<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /data</title>
 </head>
 <body>
<h1>Index of /data</h1>
  <table>
   <tr><th valign="top">&nbsp;</th><th>Name</th><th>Last modified</th><th>Size</th><th>~Lines</th></tr>
   <tr><th colspan="5"><hr></th></tr>

{% for file in files %}
<tr><td valign="top">&nbsp;</td><td><a href="{{file['name']}}">{{file['name']}}</a>
</td><td align="right">{{file['date']}} </td><td align="right">{{file['size']}}</td><td align="right">{{file['lines']}}</td><td>&nbsp;</td></tr>
{% endfor %}

</table>
</body></html>

