<html>
<body bgcolor="black" text="white" link="white" alink="white" vlink="white">
<br><br><center>
<img src="static/warp.gif">
<br><br>
<a href="data">[ view data ]</a> 
<a href="login">[ submit data ]</a> 
<a href="leaderboard">[ leaderboard ]</a> 
<br><br>

<div style="text-align:left; width:450">
Masscanning is hard work. It takes a lot of time and resources
that aren't available to everyone. Why not do it with friends?
Work as a team to make the internet a safer place, and get paid
in silly crypto tokens while you do it!  Get started today!
</div><br>

<div style="font-family:'Lucida Console', monospace; text-align:left; width:600">
# clone the repo <br>
git clone https://github.com/pierce403/masspull.git<br>
cd masspull<br>
./sync.sh # pull down all the latest scan data<br>
./contribute.sh # run your own scan to submit here!<br>
</div>

<br><br>
Join the conversation here: <a href="https://t.me/GlobalScanToken">t.me/GlobalScanToken</a><br>
More information about Scan Tokens here: <a href="https://scantoken.org">scantoken.org</a>
</center>
</body>
</html>
