<html>
<body bgcolor="black" text="white" link="white" alink="white" vlink="white">

<center>
<br><br><div id="msg">Please Enable Javascript</div><br><br>

{% if user == 'None' %}
Log in with <a href="https://metamask.io">Metamask</a>: <button onclick='login();'>Login</button>
{%else %}
Welcome {{user}}!
<br><br>

<form action="submit" method="post" enctype="multipart/form-data">
    Select file to upload:
    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
    <input type="file" name="file" id="fileToUpload">
    <input type="submit" value="Upload Data" name="submit">
</form>

View recent uploads <a href="uploads">here</a><br>

Uploads should be masscan logs that were generated<br>
with the contribute.sh script as seen on the <a href="https://github.com/pierce403/masspull/blob/master/contribute.sh">Github</a>.
{% endif %}

</center>

<script src="static/ethers-v4.min.js"></script>
<script src="static/app.js"></script>

</body>
</html>
