<!DOCTYPE html>
<html>
<body>

Hey there.
<br><div id="msg">Please Enable Javascript</div>
<br><button onclick='login();'>LOGIN</button>

<script src="static/ethers-v4.min.js"></script>
<script src="static/app.js"></script>

<br><br>
<form method="post" enctype="multipart/form-data">
    Select file to upload:
    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
    <input type="file" name="file" id="fileToUpload">
    <input type="submit" value="Upload Data" name="submit">
</form>

</body>
</html>
